body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  text-align: center;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  width: 100%;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}


.preview {
  width: 800px;
  height: 800px;
}

.adresse, .horaires, .fournisseur{
  text-align: left;
  padding: 10px;
}

.tel{
  text-align: center;  
  padding: 10px;
  font-size: 18px;
}

.tel a{
  padding: 10px;
}

ul{
  list-style: none;
}

.splide__slide img {
  max-width: 300px;
  max-height: 350px;  
}

.slidetext{
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 20px;
}
.splide__slide{
  vertical-align: middle;
  height:400px;
}

.splide__slide__containerr{
  height:400px;
  display: inline ;
  vertical-align: middle;
}